body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* temporary */

/* block */

header,
footer {
    background-color: #1f2937;
    padding: 2rem;
}

header {
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

/* ---- header ---- */
.htop,
.hmid {
    display: flex;
    justify-content: space-between;
    margin: 1rem 20rem;
    gap: 10rem;
}

/* htop */
.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 2rem;
}

/* hmid */
.hmt {
    font-size: 48px;
    font-weight: bolder;
}

.hst,
header li {
    color: #E5E7EB,
}

.place {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hmain {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
}

button {
    border-radius: .5rem;
    padding: .8rem;
    border: 0;
    background-color: #62b4f7;
    max-width: 100px;
}

/* ---- section 1 ---- */

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

.s1flex {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-flow: wrap;
}

.s1t {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.s1i {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.s1p {
    border: .2rem solid #3882f6;
    width: 125px;
    height: 125px;
    border-radius: 1rem;
}

.s1it {
    width: 125px;
    height: 75px;
    text-align: center;
}

/* ---- section 2 ---- */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 5rem;
}

.section2 blockquote {
    margin: 0 30rem;

    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.section2 p {
    align-self: center;
    font-weight: bold;
    margin-left: 38rem;
}